<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="OracleConnectiontring" connectionString=""/>
    <add name="SqlServerConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=teszt;Integrated Security=True" />
    <add name="teszt.Properties.Settings.tesztConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=teszt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>